{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competências</h2>
<p> <a href="{% url 'nova_competencia' %}" class="btn-primary">+ Nova Competência</a> </p>

<section>
    {% for competencia in competencias %}
    <article>
         <header class="card-header">
            <div>
            <h3>{{ competencia.nome }}</h3>
            <p>Tipo: {{ competencia.tipo }}</p>
            <p>Nível: {{ competencia.nivel }}/5</p>
            </div>

            <div class="actions">
                <a href="{% url 'editar_competencia' competencia.id %}" class="btn-edit">Editar</a>
                <a href="{% url 'apagar_competencia' competencia.id %}" class="btn-danger">Apagar</a>
            </div>
        </header>

        <section>
            <h4>Descrição</h4>
            <p>{{ competencia.descricao }}</p>
        </section>

        <section>
            <h4>Projetos</h4>
            <ul>
                {% for projeto in competencia.projetos.all %}
                    <li>{{ projeto.titulo }}</li>
                {% empty %}
                    <li>Sem projetos associados</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h4>Formações</h4>
            <ul>
                {% for formacao in competencia.formacoes.all %}
                    <li>{{ formacao.titulo }}</li>
                {% empty %}
                    <li>Sem formações associadas</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% empty %}
    <article>
        <header><h3>Sem competências</h3></header>
    </article>
    {% endfor %}
</section>
{% endblock %}