{% extends "portfolio/base.html" %}

{% block content %}
<h2>Formações</h2>
{% if request.user.is_authenticated %}
    <p> <a href="{% url 'nova_formacao' %}" class="btn-primary">+ Nova Formação</a> </p>
{% endif %}
<section>
    {% for formacao in formacoes %}
    <article>
        <header class="card-header">
            <div>
            <h3>{{ formacao.titulo }}</h3>
            <p>Entidade: {{ formacao.entidade }}</p>
            <p>Tipo: {{ formacao.tipo }}</p>
            <p>Início: {{ formacao.data_inicio }} | Fim: {{ formacao.data_fim }}</p>
            </div>

            <div class="actions">
            {% if request.user.is_authenticated %}
                <a href="{% url 'editar_formacao' formacao.id %}" class="btn-edit">Editar</a>
                <a href="{% url 'apagar_formacao' formacao.id %}" class="btn-danger">Apagar</a>
            {% endif %}
            </div>
        </header>

        <section>
            <h4>Descrição</h4>
            <p>{{ formacao.descricao }}</p>
        </section>

        <section>
            <h4>Tecnologias</h4>
            <ul>
                {% for tecnologia in formacao.tecnologias.all %}
                    <li>{{ tecnologia.nome }}</li>
                {% empty %}
                    <li>Sem tecnologias associadas</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h4>Competências</h4>
            <ul>
                {% for competencia in formacao.competencias.all %}
                    <li>{{ competencia.nome }}</li>
                {% empty %}
                    <li>Sem competências associadas</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h4>Certificado</h4>
            <ul>
                {% if formacao.link_certificado %}
                    <li><a href="{{ formacao.link_certificado }}" target="_blank">Ver certificado</a></li>
                {% else %}
                    <li>Sem certificado associado</li>
                {% endif %}
            </ul>
        </section>
    </article>
    {% empty %}
    <article>
        <header><h3>Sem formações</h3></header>
    </article>
    {% endfor %}
</section>
{% endblock %}