{% extends "portfolio/base.html" %}

{% block content %}

<section class="login-page">

    <article class="login-card">

        <h2>Iniciar Sessão</h2>

        {% if mensagem %}
            <p class="erro-login">{{ mensagem }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <p>
                <label>Username</label>
                <input type="text" name="username">
            </p>

            <p>
                <label>Password</label>
                <input type="password" name="password">
            </p>

            <button type="submit" class="btn-primary">
                Entrar
            </button>

        </form>

    </article>

</section>

{% endblock %}