{% extends "portfolio/base.html" %}

{% block content %}
<h2>Tecnologias</h2>
<p> <a href="{% url 'nova_tecnologia' %}" class="btn-primary">+ Nova Tecnologia</a> </p>
<section>
    {% for tecnologia in tecnologias %}
    <article>
        <header class="card-header">
            <div>
                <h3>{{ tecnologia.nome }}</h3>
                <p>Tipo: {{ tecnologia.tipo }}</p>
                <p>Nível de interesse: {{ tecnologia.nivel_interesse }}/5</p>
            </div>

            <div class="actions">
                <a href="{% url 'editar_tecnologia' tecnologia.id %}" class="btn-edit">Editar</a>
                <a href="{% url 'apagar_tecnologia' tecnologia.id %}" class="btn-danger">Apagar</a>
            </div>
        </header>
        <section>
            <h4>Descrição</h4>
            <p>{{ tecnologia.descricao }}</p>
        </section>

        <section>
            <h4>Principais Aspetos</h4>
            <p>{{ tecnologia.principais_aspetos }}</p>
        </section>

        <section>
            <h4>Projetos</h4>
            <ul>
                {% for projeto in tecnologia.projetos.all %}
                    <li>{{ projeto.titulo }}</li>
                {% empty %}
                    <li>Sem projetos associados</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h4>TFCs</h4>
            <ul>
                {% for tfc in tecnologia.tfcs.all %}
                    <li>{{ tfc.titulo }}</li>
                {% empty %}
                    <li>Sem TFCs associados</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% empty %}
    <article>
        <header><h3>Sem tecnologias</h3></header>
    </article>
    {% endfor %}
</section>
{% endblock %}